footer.footer
	.wrap

		//- БЛОК  мапсайт
		.footer-contacts
			.table
				.table-row
					.table-cell
						.footer-contacts-title
							.icon.icon-ic_phone
							.footer-contacts-text телефон
						.footer-contacts-content
							a(href="tel:812710-65-10").footer-contacts-item
								.footer-contacts-title-cn (812) 710-65-10
								span.footer-contacts-item-about приемная ректора
							a(href="tel:812710-65-10").footer-contacts-item
								.footer-contacts-title-cn (812) 710-65-10
								span.footer-contacts-item-about приемная ректора
							a(href="tel:812710-65-10").footer-contacts-item
								.footer-contacts-title-cn (812) 710-65-10
								span.footer-contacts-item-about приемная ректора


					.table-cell
						.footer-contacts-title
							.icon.icon-ic_fax
							.footer-contacts-text факс
						.footer-contacts-content
							a(href="tel:812710-65-10").footer-contacts-cn.phone
								.footer-contacts-title-cn (812) 710-65-10
							a(href="tel:812710-65-10").footer-contacts-cn.phone
								.footer-contacts-title-cn (812) 710-65-10
							a(href="tel:812710-65-10").footer-contacts-cn.phone
								.footer-contacts-title-cn (812) 710-65-10

					.table-cell
						.footer-contacts-title
							.icon.icon-ic_mail
							.footer-contacts-text почта
						.footer-contacts-content
							a(href="mailto:guap-pk@aanet.ru").footer-contacts-item.mail
								.footer-contacts-title-cn guap-pk@aanet.ru
								span.footer-contacts-item-about приемная комиссия
							a(href="mailto:common@aanet.ru").footer-contacts-item.mail
								.footer-contacts-title-cn common@aanet.ru
					.table-cell
						.footer-contacts-title
							.icon.icon-ic_adress
							.footer-contacts-text адресА


						.footer-contacts-content
							.footer-contacts-item
								.footer-contacts-title-cn Главный корпус ГУАП — ул. Большая Морская, д. 67, лит. А, Санкт-Петербург, 190000, Россия
								.big-block-title-link
									a(href="#")
										span все корпуса
										span.material keyboard_arrow_right




		//- БЛОК  интернет
		.footer-internet.
			Доступ в интернет предоставлен #[a(href="#") федеральной университетской компьютерной сетью России (RUNNet)] и #[a(href="#") региональной объединенной компьютерной сетью образования, науки и культуры Санкт-Петербурга (РОКСОН)]
			
		.footer-text
			.table
				.table-row
					.table-cell
						p Федеральное государственное автономное образовательное учреждение высшего образования «Санкт-Петербургский государственный университет аэрокосмического приборостроения»
					.table-cell
						.footer-social
							a(href="#")
								.icon.icon-ic_fb
							a(href="#")
								.icon.icon-ic_vk
							a(href="#")
								.icon.icon-ic_youtube
