meta(charset='UTF-8')
	
link(rel="shortcut icon", type="image/x-icon",  href="assets/img/favicon.png")
meta(name="viewport", content="width=480, user-scalable=no")

meta(name='format-detection')
title ГУАП

link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic,cyrillic-ext,latin-ext")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",  crossorigin="anonymous")

link(rel='stylesheet', href='/assets/css/sprite.css')
link(rel='stylesheet', href='/assets/css/css.css')
//if lt IE 9
	script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
	script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
