header.header
	//- для десктопа
	//- .desktop
	.header-upper
		.wrap
			.table
				.table-row
					.table-cell.header-upper-left.mobile.header-logo
						a(href="/").mobile-menu
							.icon.icon-ic_menu
						a(href="/").mobile-logo
							img(src="/assets/img/sprite/ic_logo.png", alt="")
					.table-cell.header-upper-left.desktop
						ul
							li
								a(href="#")
									span Школьникам
							li
								a(href="#")
									span Поступающим
							li
								a(href="#")
									span Обучающимся
							li
								a(href="#")
									span Сотрудникам
							li
								a(href="#")
									span Выпускникам
							li
								a(href="#")
									span Партнерам
					.table-cell.header-upper-right
						ul
							li.language
								a(href="#").desktop.language-link
									i.icon.icon-ic_ru_lang
									i.icon.icon-ic_ru_lang_hover
								.table.language-select
									.table-row
										.table-cell
											a(href="#en", data-mobile="Русский")
												i.icon.icon-ic_ru_lang
												i.icon.icon-ic_ru_lang_hover
										.table-cell
											a(href="#ki", data-mobile="Русский")
												i.icon.icon-ic_ru_lang
												i.icon.icon-ic_ru_lang_hover
										.table-cell
											a(href="#ru", data-mobile="Русский")
												i.icon.icon-ic_ru_lang
												i.icon.icon-ic_ru_lang_hover
							li
								a(href="#")
									i.icon.icon-ic_schedule
									i.icon.icon-ic_schedule_hover
							li
								a(href="#")
									i.icon.icon-ic_search
									i.icon.icon-ic_search_hover
							li
								a(href="#")
									i.icon.icon-ic_user_cabinet
									i.icon.icon-ic_user_cabinet_hover

	.header-downer.mobile

	.header-downer.desktop
		.wrap
			.header-downer-up
				.table
					.table-row
						.table-cell.header-logo
							a(href="/")
								img(src="/assets/img/sprite/ic_logo.png", alt="")
						.table-cell.header-nav
							ul
								li
									a(href="#")
										span Университет
										span.pointer.material-icons keyboard_arrow_down
									.header-nav-items.dn
										.swiper-wrapper
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Довузовское") #[span Довузовское]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Аспирантура и докторантура") #[span Аспирантура и докторантура]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Среднее профессиональное") #[span Среднее профессиональное]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Дополнительное профессиональное") #[span Дополнительное профессиональное]
								li
									a(href="#")
										span ОБРАЗОВАНИЕ
										span.pointer.material-icons keyboard_arrow_down
									//- то что будет выпадать в слайдер
									.header-nav-items.dn
										.swiper-wrapper
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Довузовское") #[span Довузовское]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Аспирантура и докторантура") #[span Аспирантура и докторантура]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Среднее профессиональное") #[span Среднее профессиональное]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Аспирантура и докторантура") #[span Аспирантура и докторантура]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Среднее профессиональное") #[span Среднее профессиональное]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Довузовское") #[span Довузовское]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Аспирантура и докторантура") #[span Аспирантура и докторантура]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Среднее профессиональное") #[span Среднее профессиональное]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Аспирантура и докторантура") #[span Аспирантура и докторантура]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Среднее профессиональное") #[span Среднее профессиональное]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Довузовское") #[span Довузовское]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Аспирантура и докторантура") #[span Аспирантура и докторантура]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Среднее профессиональное") #[span Среднее профессиональное]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Аспирантура и докторантура") #[span Аспирантура и докторантура]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Среднее профессиональное") #[span Среднее профессиональное]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Дополнительное профессиональное") #[span Дополнительное профессиональное]
								li
									a(href="#")
										span НАУКА
										span.pointer.material-icons keyboard_arrow_down
									.header-nav-items.dn
										//- то что будет выпадать в слайдер
										.swiper-wrapper
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Довузовское") #[span Довузовское]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Аспирантура и докторантура") #[span Аспирантура и докторантура]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Среднее профессиональное") #[span Среднее профессиональное]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Дополнительное профессиональное") #[span Дополнительное профессиональное]

								li
									a(href="#")
										span СОТРУДНИЧЕСТВО
										span.pointer.material-icons keyboard_arrow_down
									.header-nav-items.dn
										//- то что будет выпадать в слайдер
										.swiper-wrapper
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Довузовское") #[span Довузовское]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Аспирантура и докторантура") #[span Аспирантура и докторантура]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Среднее профессиональное") #[span Среднее профессиональное]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Дополнительное профессиональное") #[span Дополнительное профессиональное]

								li
									a(href="#")
										span ВНЕ УЧЕБЫ
										span.pointer.material-icons keyboard_arrow_down
									.header-nav-items.dn
										//- то что будет выпадать в слайдер
										.swiper-wrapper
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Довузовское") #[span Довузовское]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Аспирантура и докторантура") #[span Аспирантура и докторантура]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Среднее профессиональное") #[span Среднее профессиональное]
											a.swiper-slide.header-nav-item(href="#", data-navigate-popup="Дополнительное профессиональное") #[span Дополнительное профессиональное]

		.header-downer-down
			.wrap
				.header-downer-nav-slider
					//- тут будет динамический слайдер из элементов .header-nav-items>.header-nav-item


				.header-downer-popup
					//-  тут будет собираться хранилище для всех возможнных попапов [data-navigate-popup=]
					.header-downer-popup-item.dn(data-navigate-popup="Довузовское")
						.table
							.table-row
								.table-cell.header-downer-popup-item-photo
									img(src="https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg", alt="фото выпадахи")
									p.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fugit rem libero blanditiis autem beatae aliquam aperiam quisquam voluptates ipsa
								.table-cell.header-downer-popup-item-links
									div
										a(href="#") #[span Lorem ipsum dolor sit amet, consectetur adipisicing elit.]
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]
									div
										a(href="#") #[span Officia fugit rem libero blanditiis autem beatae aliquam aperiam]
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]
									div
										a(href="#") #[span In, dolores ab necessitatibus illum libero nisi aspernatur, molestiae]

					.header-downer-popup-item.dn(data-navigate-popup="Аспирантура и докторантура")
						.table
							.table-row
								.table-cell.header-downer-popup-item-photo
									img(src="https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg", alt="фото выпадахи")
									p.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, dolores ab necessitatibus illum libero nisi aspernatur, molestiae vero mollitia at alit.
								.table-cell.header-downer-popup-item-links
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]
									div
										a(href="#") #[span In, dolores ab necessitatibus illum libero nisi aspernatur, molestiae]
									div
										a(href="#") #[span Мoluptates reiciendis recusandae unde]
									div
										a(href="#") #[span In, dolores ab necessitatibus illum libero nisi aspernatur, molestiae]
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]

					.header-downer-popup-item.dn(data-navigate-popup="Среднее профессиональное")
						.table
							.table-row
								.table-cell.header-downer-popup-item-photo
									img(src="https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg", alt="фото выпадахи")
									p.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Ex nobis asperiores, expedita quos explicabo!
								.table-cell.header-downer-popup-item-links
									div
										a(href="#") #[span О факультет asdas ldja sdjasd; asjdkasd; asе]
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]

					.header-downer-popup-item.dn(data-navigate-popup="Дополнительное профессиональное")
						.table
							.table-row
								.table-cell.header-downer-popup-item-photo
									img(src="https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg", alt="фото выпадахи")
									p.
										Lorem ipsum dolor sit amet, consectetur adi, iure provident dolorum voluptatibus modi velit voluptate.
								.table-cell.header-downer-popup-item-links
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]
									div
										a(href="#") #[span Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde]
