//- подключаем шаблон
extends /layouts/layout.jade


//- Описывам контент
block content

	//- img(src="/Suai_480.png", alt="", style="       position: absolute; z-index: 99; opacity: 0.2; left: 0px; top: 82px; z-index: 9999;")

	//- БЛОК С ГЛАВНЫМ СЛАЙДЕРОМ
	.main-slider
		.swiper-container(data-autoplay='3000')
			.main-slider-items.swiper-wrapper
				.main-slider-item.swiper-slide.main-slider-item-image(style="background-image: url(/assets/img/1.jpg)")
					.wrap
						.main-slider-item-text
							.main-slider-item-title НА СТАРТ#[br]В ГУАП
							.main-slider-item-paragraph.
								Новый учебный год, новые студенты,#[br]новый бренд университета — в ГУАПе#[br]прошел «День знаний 2016»
							.main-slider-item-button
								a.btn(href="#") Подробнее
				.main-slider-item.swiper-slide.main-slider-item-image(style="background-image: url(/assets/img/Mainslider.png)")
					.wrap
						.main-slider-item-text
							.main-slider-item-title НА СТАРТ#[br]В ГУАП
							.main-slider-item-paragraph.
								Новый учебный год, новые студенты,#[br]новый бренд университета — в ГУАПе#[br]прошел «День знаний 2016»
							.main-slider-item-button
								a.btn(href="#") Подробнее
			.swiper-pagination



	//- БЛОК С  ОБЪЯВЛЕНИЯМИ И МЕРОПРИЯТИЯМИ
	.main-innovation.tabs-container
		.wrap
			.mobile
				.main-innovation-banners
						//- СЛАЙДЕР
						.swiper-container(data-autoplay=3000)
							.swiper-wrapper
								.swiper-slide(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
								.swiper-slide(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
								.swiper-slide(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
							.swiper-pagination
				.main-innovation-news
					.info-component
						.info-component-title
							.tabs
								.tabs-header
									a(href="#ADS") ОБЪЯВЛЕНИЯ
									a(href="#PARTY") МЕРОПРИЯТИЯ
						.tabs-body
							.info-component.info-component-ads.tab-hide(data-tab="ADS")
								.info-component-content
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.label
													span.icon.icon-ic_announce
													span.icon.icon-ic_announce_hover
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

							.info-component.info-component-events.tab-hide(data-tab="PARTY")
								.info-component-content
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.date
													b 19
													i СЕН
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.date
													b 19
													i СЕН
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.date
													b 19
													i СЕН
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.date
													b 19
													i СЕН
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
									a(href="#").info-component-item
										.table
											.table-row
												.table-cell.date
													b 19
													i СЕН
												.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре


			.table.desktop
				.table-row
					.table-cell.main-innovation-news
						//- ОБЪЯВЛЕНИЯ
						.info-component.info-component-ads
							.info-component-title ОБЪЯВЛЕНИЯ
							.info-component-content
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре

								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.label
												span.icon.icon-ic_announce
												span.icon.icon-ic_announce_hover
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре



					.table-cell.main-innovation-banners
						//- СЛАЙДЕР
						.swiper-container(data-autoplay='3000')
							.swiper-wrapper
								.swiper-slide(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
								.swiper-slide(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
								.swiper-slide(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
							.swiper-pagination




					.table-cell.main-innovation-news
						//- МЕРОПРИЯТИЯ
						.info-component.info-component-events
							.info-component-title МЕРОПРИЯТИЯ
							.info-component-content
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.date
												b 19
												i СЕН
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.date
												b 19
												i СЕН
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.date
												b 19
												i СЕН
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.date
												b 19
												i СЕН
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре
								a(href="#").info-component-item
									.table
										.table-row
											.table-cell.date
												b 19
												i СЕН
											.table-cell.text Институт инновационных технологий в электромеханике и робототехнике приглашает пройти обучение в магистратуре





	//- БЛОК  НВОСТЕЙ
	.main-news
		.wrap
			.big-block.main-news-title
				.big-block-title-main.main-news-title-main Новости
				.big-block-title-link.main-news-title-link
					a(href="#")
						span Все новости 
						span.material keyboard_arrow_right
			.desktop
				.main-news-items
					a(href="#", data-date="25 мая").main-news-item
						.main-news-item-image(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
						.main-news-item-text #[b Звание «Почётный гражданин Петербурга»] присвоено почётному доктору ГУАП, академику РАН Владимиру Валентиновичу Окрепилову
					a(href="#", data-date="25 мая").main-news-item
						.main-news-item-image(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
						.main-news-item-text #[b Звание «Почётный гражданин Петербурга»] присвоено почётному доктору ГУАП, академику РАН Владимиру Валентиновичу Окрепилову
					a(href="#", data-date="25 мая").main-news-item
						.main-news-item-image(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
						.main-news-item-text #[b Звание «Почётный гражданин Петербурга»] присвоено почётному доктору ГУАП, академику РАН Владимиру Валентиновичу Окрепилову
					a(href="#", data-date="25 мая").main-news-item
						.main-news-item-image(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
						.main-news-item-text #[b Звание «Почётный гражданин Петербурга»] присвоено почётному доктору ГУАП, академику РАН Владимиру Валентиновичу Окрепилову
					a(href="#", data-date="25 мая").main-news-item
						.main-news-item-image(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
						.main-news-item-text #[b Звание «Почётный гражданин Петербурга»] присвоено почётному доктору ГУАП, академику РАН Владимиру Валентиновичу Окрепилову
			.mobile
				.swiper-container(data-autoplay='3000')
					.swiper-wrapper
						a(href="#", data-date="25 мая").main-news-item.swiper-slide
							.main-news-item-image(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
							.main-news-item-text #[b Звание «Почётный гражданин Петербурга»] присвоено почётному доктору ГУАП, академику РАН Владимиру Валентиновичу Окрепилову

						a(href="#", data-date="25 мая").main-news-item.swiper-slide
							.main-news-item-image(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
							.main-news-item-text #[b Звание «Почётный гражданин Петербурга»] присвоено почётному доктору ГУАП, академику РАН Владимиру Валентиновичу Окрепилову

						a(href="#", data-date="25 мая").main-news-item.swiper-slide
							.main-news-item-image(style="background-image: url(https://pp.vk.me/c622029/v622029930/36d04/bb1vC1lzL9E.jpg)")
							.main-news-item-text #[b Звание «Почётный гражданин Петербурга»] присвоено почётному доктору ГУАП, академику РАН Владимиру Валентиновичу Окрепилову
				.swiper-pagination

	//- БЛОК  АКТИВНОСТЬ
	.main-activity.tabs-container
		.wrap
			.big-block.big-block-nob.main-activity-title
				.big-block-title-main.main-activity-title-main
					.tabs
						.tabs-header
							a(href="#science") Наука
							a(href="#sport") Спорт
							a(href="#creation") Творчество
				.big-block-title-link.main-activity-title-link
					a(href="#")
						span все активности
						span.material keyboard_arrow_right
			//- табы
			.main-activity-sliders.tabs
				.tabs-body
					.main-activity-slider.tab-hide(data-tab="science")
						//- СЛАЙДЕР
						.swiper-container(data-autoplay='3000')
							.swiper-wrapper
								.swiper-slide
									.main-activity-slider-title Вокальная студия
									.main-activity-slider-text Наши педагоги по вокалу — действующие музыканты, регулярно выходящие на сцену
								.swiper-slide
									.main-activity-slider-title Вокasdasdя
									.main-activity-slider-text Наши педsadasdasdвыходящие на сцену
							.swiper-pagination
							.swiper-button-prev.swiper-button
							.swiper-button-next.swiper-button

					.main-activity-slider.tab-hide(data-tab="sport")
						//- СЛАЙДЕР
						.swiper-container(data-autoplay='3000')
							.swiper-wrapper
								.swiper-slide
									.main-activity-slider-title Вокasdasdя
									.main-activity-slider-text Наши педагоги по вокалу — действующие музыканты, регулярно выходящие на сцену
								.swiper-slide
									.main-activity-slider-title DSDASdasdasd
									.main-activity-slider-text Наши педsadasdasdвыходящие на сцену
							.swiper-pagination
							.swiper-button-prev.swiper-button
							.swiper-button-next.swiper-button

					.main-activity-slider.tab-hide(data-tab="creation")
						//- СЛАЙДЕР
						.swiper-container(data-autoplay='3000')
							.swiper-wrapper
								.swiper-slide
									.main-activity-slider-title Творчество
									.main-activity-slider-text Наши педагоги по вокалу — действующие музыканты, регулярно выходящие на сцену
								.swiper-slide
									.main-activity-slider-title Творчество
									.main-activity-slider-text Наши педsadasdasdвыходящие на сцену
							.swiper-pagination
							.swiper-button-prev.swiper-button
							.swiper-button-next.swiper-button



	//- БЛОК  АКТИВНОСТЬ
	.main-poltavchenko
		.wrap
			//- СЛАЙДЕР
			.swiper-container(data-autoplay='3000')
				.swiper-wrapper
					.swiper-slide(style="background-image: url(/assets/img/poltav.png);background-position: right bottom;  ")
						.main-poltavchenko-text.
							«На протяжении многих десятилетий выпускники ГУАПа – генеральные конструкторы, главные инженеры, руководители крупных промышленных предприятий – определяют облик авиационной, космической и приборостроительной отраслей»
						.main-poltavchenko-quote
							.main-poltavchenko-quote-title — Полтавченко Георгий Сергеевич
							.main-poltavchenko-quote-text Губернатор Санкт-Петербурга, выпускник Института аэрокосмических приборов и систем
					.swiper-slide(style="background-image: url(/assets/img/poltav.png);background-position: right bottom;  ")
						.main-poltavchenko-text.
							«Nam dignissimos quae excepturi, architecto fuga repudiandae. Fuga sed quod quibusdam, odio, enim debitis blanditiis id eaque in obcaecati optio aut ea.»
						.main-poltavchenko-quote
							.main-poltavchenko-quote-title — Олег Васильевич
							.main-poltavchenko-quote-text Губернатор Санкт-Петербурга, выпускник Института аэрокосмических приборов и систем
					.swiper-slide(style="background-image: url(/assets/img/poltav.png);background-position: right bottom;  ")
						.main-poltavchenko-text.
							«Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora facere ad culpa, laudantium numquam nam rem debitis. Amet eligendi maiores fuga assumenda nam molestias, accusamus veritatis maxime, quisquam voluptatem iure!»
						.main-poltavchenko-quote
							.main-poltavchenko-quote-title — Георгий Сергеевич Полтавченко
							.main-poltavchenko-quote-text Губернатор Санкт-Петербурга, выпускник Института аэрокосмических приборов и систем, выпускник Института аэрокосмических приборов и систем, выпускник Института аэрокосмических приборов и систем

				.swiper-pagination



