*, :after, :before
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0
	padding 0
	box-sizing: border-box
	letter-spacing 0px
	outline 0
	box-sizing border-box
	letter-spacing 0px
	font-family: 'Roboto', sans-serif;
	
body
	font-size 14px
	color #000
	font-weight: 100

.table
	width: auto
	max-width none

a[href*='tel:'], a[href*='mailto:']
	color #2b2e3d
	text-decoration none

#page
	overflow: hidden;
	max-width 1920px
.custom-scroll_inner
	margin-right: -26px!important
.custom-scroll_bar-y
	margin-top: -5px !important;
	z-index 99 !important;
scrollbar {
/*  clear useragent default style*/
   -moz-appearance: none !important;
}
/* buttons at two ends */
scrollbarbutton {
   -moz-appearance: none !important;
}
/* the sliding part*/
thumb{
   -moz-appearance: none !important;
}
scrollcorner {
   -moz-appearance: none !important;
   resize:both;
}
/* vertical or horizontal */
scrollbar[orient="vertical"] {
    color:silver;
}

@import  "./lib/swiper/swiper.styl"
@import  "./lib/fancybox/jquery.fancybox.styl"
@import  "./lib/scroll/jquery.custom-scroll.styl"

@import  "./layout/body.styl"
@import  "./layout/nav.styl"
@import  "./layout/header.styl"
@import  "./layout/footer.styl"
@import  "./layout/modal.styl"
@import  "./layout/inputs.styl"


// @media (max-width: 1440px) and (min-width: 1024px) 

