
<footer class="footer">
	<div class="main-mapsite">
		<div class="wrap">
			<div class="table">
				<div class="table-row">
					<div class="table-cell"><a href="#" class="main-mapsite-title"><span>Об университете</span>
							<div class="material-icons dn">keyboard_arrow_right</div></a>
						<ul class="main-mapsite-list">
							<li><a href="#">Сведения об образовательной организации</a></li>
							<li><a href="#">Преподаватели и сотрудники</a></li>
							<li><a href="#">Руководство и структура</a></li>
							<li><a href="#">Сведения о доходах</a></li>
							<li><a href="#">Наука и образование против террора</a></li>
							<li><a href="#">Корпуса и общежития</a></li>
						</ul>
					</div>
					<div class="table-cell"><a href="#" class="main-mapsite-title"><span>Ресурсы вуза</span>
							<div class="material-icons dn">keyboard_arrow_right</div></a>
						<ul class="main-mapsite-list">
							<li><a href="#">Сведения об образовательной организации</a></li>
							<li><a href="#">Преподаватели и сотрудники</a></li>
							<li><a href="#">Руководство и структура</a></li>
							<li><a href="#">Сведения о доходах</a></li>
							<li><a href="#">Информация Рособрнадзора для поступающих</a></li>
							<li><a href="#">Информационная система «Единое окно доступа к образовательным ресурсам»</a></li>
							<li><a href="#">Наука и образование против террора</a></li>
							<li><a href="#">Корпуса и общежития</a></li>
						</ul>
					</div>
					<div class="table-cell"><a href="#" class="main-mapsite-title"><span>Полезные ссылки</span>
							<div class="material-icons dn">keyboard_arrow_right</div></a>
						<ul class="main-mapsite-list">
							<li><a href="#">Сведения об образовательной организации</a></li>
							<li><a href="#">Преподаватели и сотрудники</a></li>
							<li><a href="#">Информационная система «Единое окно доступа к образовательным ресурсам»</a></li>
							<li><a href="#">Сведения о доходах</a></li>
							<li><a href="#">Информация Рособрнадзора для поступающих</a></li>
							<li><a href="#">Внутренний сервер СПС Кодекс</a></li>
							<li><a href="#">Наука и образование против террора</a></li>
							<li><a href="#">Корпуса и общежития</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="footer-contacts">
			<div class="table">
				<div class="table-row">
					<div class="table-cell">
						<div class="footer-contacts-title">
							<div class="icon icon-ic_phone"></div>
							<div class="footer-contacts-text">телефон</div>
						</div>
						<div class="footer-contacts-content"><a href="tel:812710-65-10" class="footer-contacts-item">
								<div class="footer-contacts-title-cn">(812) 710-65-10</div><span class="footer-contacts-item-about">приемная ректора</span></a><a href="tel:812710-65-10" class="footer-contacts-item">
								<div class="footer-contacts-title-cn">(812) 710-65-10</div><span class="footer-contacts-item-about">приемная ректора</span></a><a href="tel:812710-65-10" class="footer-contacts-item">
								<div class="footer-contacts-title-cn">(812) 710-65-10</div><span class="footer-contacts-item-about">приемная ректора</span></a></div>
					</div>
					<div class="table-cell">
						<div class="footer-contacts-title">
							<div class="icon icon-ic_fax"></div>
							<div class="footer-contacts-text">факс</div>
						</div>
						<div class="footer-contacts-content"><a href="tel:812710-65-10" class="footer-contacts-cn phone">
								<div class="footer-contacts-title-cn">(812) 710-65-10</div></a><a href="tel:812710-65-10" class="footer-contacts-cn phone">
								<div class="footer-contacts-title-cn">(812) 710-65-10</div></a><a href="tel:812710-65-10" class="footer-contacts-cn phone">
								<div class="footer-contacts-title-cn">(812) 710-65-10</div></a></div>
					</div>
					<div class="table-cell">
						<div class="footer-contacts-title">
							<div class="icon icon-ic_mail"></div>
							<div class="footer-contacts-text">почта</div>
						</div>
						<div class="footer-contacts-content"><a href="mailto:guap-pk@aanet.ru" class="footer-contacts-item mail">
								<div class="footer-contacts-title-cn">guap-pk@aanet.ru</div><span class="footer-contacts-item-about">приемная комиссия</span></a><a href="mailto:common@aanet.ru" class="footer-contacts-item mail">
								<div class="footer-contacts-title-cn">common@aanet.ru</div></a></div>
					</div>
					<div class="table-cell">
						<div class="footer-contacts-title">
							<div class="icon icon-ic_adress"></div>
							<div class="footer-contacts-text">адресА</div>
						</div>
						<div class="footer-contacts-content">
							<div class="footer-contacts-item"><a href="#" class="footer-contacts-title-cn">Главный корпус ГУАП — ул. Большая Морская, д. 67, лит. А, Санкт-Петербург, 190000, Россия</a>
								<div class="big-block-title-link"><a href="#"><span>все корпуса</span><span class="material-icons">keyboard_arrow_right</span></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-internet">Доступ в интернет предоставлен <a href="#">федеральной университетской компьютерной сетью России (RUNNet)</a> и <a href="#">региональной объединенной компьютерной сетью образования, науки и культуры Санкт-Петербурга (РОКСОН)</a>
			
		</div>
		<div class="footer-text">
			<div class="table">
				<div class="table-row">
					<div class="table-cell">
						<p>Федеральное государственное автономное образовательное учреждение высшего образования «Санкт-Петербургский государственный университет аэрокосмического приборостроения»</p>
					</div>
					<div class="table-cell">
						<div class="footer-social"><a href="#">
								<div class="icon icon-ic_fb"></div>
								<div class="icon icon-ic_fb_hover"></div></a><a href="#">
								<div class="icon icon-ic_vk"></div>
								<div class="icon icon-ic_vk_hover"></div></a><a href="#">
								<div class="icon icon-ic_youtube"></div>
								<div class="icon icon-ic_youtube_hover"></div></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>