
<header class="header">
	<div class="header-upper">
		<div class="wrap">
			<div class="table">
				<div class="table-row">
					<div class="table-cell header-upper-left">
						<ul>
							<li><a href="#"><span>Школьникам</span></a></li>
							<li><a href="#"><span>Поступающим</span></a></li>
							<li><a href="#"><span>Обучающимся</span></a></li>
							<li><a href="#"><span>Сотрудникам</span></a></li>
							<li><a href="#"><span>Выпускникам</span></a></li>
							<li><a href="#"><span>Партнерам</span></a></li>
						</ul>
					</div>
					<div class="table-cell header-upper-right">
						<ul>
							<li><a href="#"><i class="icon icon-ic_ru_lang"></i></a></li>
							<li><a href="#"><i class="icon icon-ic_schedule"></i></a></li>
							<li><a href="#"><i class="icon icon-ic_search"></i></a></li>
							<li><a href="#"><i class="icon icon-ic_user_cabinet"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-downer">
		<div class="wrap">
			<div class="header-downer-up">
				<div class="table">
					<div class="table-row">
						<div class="table-cell header-logo"><a href="/"><img src="/assets/img/sprite/ic_logo.png" alt=""/></a></div>
						<div class="table-cell header-nav">
							<ul>
								<li><a href="#"><span>Университет</span><span class="pointer material">keyboard_arrow_down</span></a>
									<div class="header-nav-items dn">
										<div data-navigate-popup="Довузовское" class="header-nav-item">Довузовское</div>
										<div data-navigate-popup="Аспирантура и докторантура" class="header-nav-item">Аспирантура и докторантура</div>
										<div data-navigate-popup="Среднее профессиональное" class="header-nav-item">Среднее профессиональное</div>
										<div data-navigate-popup="Дополнительное профессиональное" class="header-nav-item">Дополнительное профессиональное</div>
									</div>
								</li>
								<li><a href="#"><span>ОБРАЗОВАНИЕ</span><span class="pointer material">keyboard_arrow_down</span></a>
									<div class="header-nav-items dn">
										<div data-navigate-popup="Довузовское" class="header-nav-item">Довузовское</div>
										<div data-navigate-popup="Аспирантура и докторантура" class="header-nav-item">Аспирантура и докторантура</div>
										<div data-navigate-popup="Среднее профессиональное" class="header-nav-item">Среднее профессиональное</div>
										<div data-navigate-popup="Аспирантура и докторантура" class="header-nav-item">Аспирантура и докторантура</div>
										<div data-navigate-popup="Среднее профессиональное" class="header-nav-item">Среднее профессиональное</div>
										<div data-navigate-popup="Довузовское" class="header-nav-item">Довузовское</div>
										<div data-navigate-popup="Аспирантура и докторантура" class="header-nav-item">Аспирантура и докторантура</div>
										<div data-navigate-popup="Среднее профессиональное" class="header-nav-item">Среднее профессиональное</div>
										<div data-navigate-popup="Аспирантура и докторантура" class="header-nav-item">Аспирантура и докторантура</div>
										<div data-navigate-popup="Среднее профессиональное" class="header-nav-item">Среднее профессиональное</div>
										<div data-navigate-popup="Довузовское" class="header-nav-item">Довузовское</div>
										<div data-navigate-popup="Аспирантура и докторантура" class="header-nav-item">Аспирантура и докторантура</div>
										<div data-navigate-popup="Среднее профессиональное" class="header-nav-item">Среднее профессиональное</div>
										<div data-navigate-popup="Аспирантура и докторантура" class="header-nav-item">Аспирантура и докторантура</div>
										<div data-navigate-popup="Среднее профессиональное" class="header-nav-item">Среднее профессиональное</div>
										<div data-navigate-popup="Дополнительное профессиональное" class="header-nav-item">Дополнительное профессиональное</div>
									</div>
								</li>
								<li><a href="#"><span>НАУКА</span><span class="pointer material">keyboard_arrow_down</span></a>
									<div class="header-nav-items dn">
										<div data-navigate-popup="Довузовское" class="header-nav-item">Довузовское</div>
										<div data-navigate-popup="Аспирантура и докторантура" class="header-nav-item">Аспирантура и докторантура</div>
										<div data-navigate-popup="Среднее профессиональное" class="header-nav-item">Среднее профессиональное</div>
										<div data-navigate-popup="Дополнительное профессиональное" class="header-nav-item">Дополнительное профессиональное</div>
									</div>
								</li>
								<li><a href="#"><span>СОТРУДНИЧЕСТВО</span><span class="pointer material">keyboard_arrow_down</span></a>
									<div class="header-nav-items dn">
										<div data-navigate-popup="Довузовское" class="header-nav-item">Довузовское</div>
										<div data-navigate-popup="Аспирантура и докторантура" class="header-nav-item">Аспирантура и докторантура</div>
										<div data-navigate-popup="Среднее профессиональное" class="header-nav-item">Среднее профессиональное</div>
										<div data-navigate-popup="Дополнительное профессиональное" class="header-nav-item">Дополнительное профессиональное</div>
									</div>
								</li>
								<li><a href="#"><span>ВНЕ УЧЕБЫ</span><span class="pointer material">keyboard_arrow_down</span></a>
									<div class="header-nav-items dn">
										<div data-navigate-popup="Довузовское" class="header-nav-item">Довузовское</div>
										<div data-navigate-popup="Аспирантура и докторантура" class="header-nav-item">Аспирантура и докторантура</div>
										<div data-navigate-popup="Среднее профессиональное" class="header-nav-item">Среднее профессиональное</div>
										<div class="header-nav-item">Дополнительное профессиональное</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-downer-down">
			<div class="header-downer-nav-slider">
				
			</div>
			<div class="header-downer-popup">
				<div data-navigate-popup="Довузовское" class="header-downer-popup-item dn">
					<div class="table">
						<div class="table-row">
							<div class="table-cell popup-item-photo"><img src="" alt="фото выпадахи"/>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fugit rem libero blanditiis autem beatae aliquam aperiam quisquam voluptates ipsa. Inventore illum placeat repellat debitis nesciunt rem rerum deserunt harum.</p>
							</div>
							<div class="table-cell popup-item-links"><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a></div>
						</div>
					</div>
				</div>
				<div data-navigate-popup="Аспирантура и докторантура" class="header-downer-popup-item dn">
					<div class="table">
						<div class="table-row">
							<div class="table-cell popup-item-photo"><img src="" alt="фото выпадахи"/>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, dolores ab necessitatibus illum libero nisi aspernatur, molestiae vero mollitia at alias facilis nam reiciendis dolore, repudiandae officiis itaque sequi suscipit.</p>
							</div>
							<div class="table-cell popup-item-links"><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a></div>
						</div>
					</div>
				</div>
				<div data-navigate-popup="Среднее профессиональное" class="header-downer-popup-item dn">
					<div class="table">
						<div class="table-row">
							<div class="table-cell popup-item-photo"><img src="" alt="фото выпадахи"/>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti odit repellendus animi, alias, voluptates reiciendis recusandae unde, accusamus perferendis fugiat ratione autem odio architecto? Ex nobis asperiores, expedita quos explicabo!</p>
							</div>
							<div class="table-cell popup-item-links"><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a></div>
						</div>
					</div>
				</div>
				<div data-navigate-popup="Дополнительное профессиональное" class="header-downer-popup-item dn">
					<div class="table">
						<div class="table-row">
							<div class="table-cell popup-item-photo"><img src="" alt="фото выпадахи"/>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique repellat, minus aspernatur, deserunt dolores labore animi ab laudantium expedita dolor consequatur iusto ipsa, iure provident dolorum voluptatibus modi velit voluptate.</p>
							</div>
							<div class="table-cell popup-item-links"><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a><a href="#">О факультете</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>